{% extends 'base.html.twig' %}

{% block title %}
    Confirmation d'inscription à la Newsletter
{% endblock %}

{% block body %}
    <h1>Confirmation d'inscription à la Newsletter</h1>

    <p>Merci de vous être inscrit à notre newsletter ! Vous recevrez bientôt un e-mail de confirmation.</p>

    <p>
        <a href="{{ path('homepage') }}">Retour à l'accueil</a>
    </p>
{% endblock %}
