{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>
    
    {{ form_start(loginForm) }}
    {{ form_row(loginForm.email) }}
    {{ form_row(loginForm.password) }}
    <button type="submit">Connexion</button>
    {{ form_end(loginForm) }}
{% endblock %}
