body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: rgb(17, 105, 143);
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    margin: 30px;
}

.navbar-image img {
    max-height: 70px; /* Ajustez la hauteur maximale de l'image selon vos besoins */
    margin-right: 20px; /* Ajustez la marge entre la navbar et l'image */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ffc107;
}

.example-wrapper {
    text-align: center;
    margin: 50px 0; /* Ajuste la marge entre le titre et le menu */
}

.example-wrapper h1 {
    color: #2196F3; /* Choisir une couleur élégante */
    margin-bottom: 20px; /* Ajoute de l'espace en bas du titre */
}

/* Ajout du style pour le block title */
.title-block {
    color: #3f3206; /* Couleur du texte */
    font-size: 36px; /* Taille de la police */
    font-weight: bolder; /* Gras */
    font-family: 'Pacifico', cursive; /* Police de caractères avec un style particulier */
    text-align: center; /* Centrer le texte */
    margin: 20px; /* Marge autour du titre */
    padding: 20px; /* Remplissage interne du titre */
    line-height: 1.4; /* Hauteur de ligne pour centrer verticalement */
    display: inline-block; /* Ajuste la largeur du cadre à la largeur du texte */
    text-shadow: 2px 2px 4px rgba(34, 56, 50, 0.5); /* Ombre du texte */
    background: linear-gradient(to right, #fcc500, #ff6361); /* Dégradé de couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre portée */
    transition: transform 0.3s ease-in-out; /* Animation de transition */
}

.title-block:hover {
    transform: scale(1.1); /* Zoom léger au survol */
}

