{% extends 'base.html.twig' %}

{% block title %}
    ALE (Arabe Langue Étrangère)
{% endblock %}

{% block body %}
    <nav>
        <div class="navbar-image">
            <img src="{{ asset('images/2.jpg') }}" alt="Image description">
        </div>

        <div class="title-block">
            {{ block('title') }} {# Use the title block directly #}
        </div>

        <ul>
            {% for label, url in menu %}
                <li>
                    <a href="{{ url }}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
