{% extends 'base.html.twig' %}

{% block title %}
	ALE (Arabe Langue Étrangère)
{% endblock %}

{% block body %}
	<nav>
		<div class="title-block">
			{{ block('title') }}
		</div>

		<ul>
			{% for label, url in menu %}
				<li>
					<a href="{{ url }}">{{ label }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>

	<div class="example-wrapper">
		<h1 style="text-align: left; margin-left: 20px; margin-right: 20px;">Pourquoi apprendre l'arabe ?</h1>
		<p style="text-align: justify; font-size: 18px; margin-left: 20px; margin-right: 20px">
			Apprendre l'arabe ouvre les portes à une richesse culturelle, historique et linguistique. L'arabe a une histoire riche dans les domaines de la science, de la philosophie et de la littérature.
			<br><br>
			En apprenant l'arabe, l'on accède aux traditions des pays arabophones, leur gastronomie et leur art. C'est également une langue qui joue un rôle crucial dans le monde des affaires, de la diplomatie et des relations internationales.
		</p>
	</div>


	{% include 'default/footer.html.twig' with {'footerLinks': footerLinks} %}

{% endblock %}
