{# templates/default/index.html.twig #}


{% block title %}
    Bienvenue aux apprenants !
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bonjour aux apprenants !</h1>
    </div>
{% endblock %}
