
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: rgb(17, 105, 143);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 30px;
}

.navbar-image img {
    max-height: 70px; /* Ajustez la hauteur maximale de l'image selon vos besoins */
    margin-right: 20px; /* Ajustez la marge entre la navbar et l'image */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ffc107;
}

.example-wrapper {
    text-align: center;
    margin: 50px 0; /* Ajuste la marge entre le titre et le menu */
}

.example-wrapper h1 {
    color: #2196F3; /* Choisir une couleur élégante */
    margin-bottom: 20px; /* Ajoute de l'espace en bas du titre */
}

/* Ajout du style pour le block title */
.title-block {
    color: #600322; 
    font-size: 30px; 
    font-weight: bolder;
    margin: 30px;
    padding: 30px;
    text-align: center;
    line-height: 1.4; /* Ajuste la hauteur de ligne pour centrer verticalement */
    border: 2px solid #fff; /* Ajoute une bordure blanche de 2 pixels */
    background-color: #fff; /* Ajoute une couleur de fond blanche */
    display: inline-block; /* Pour que le cadre de la bordure s'ajuste à la largeur du texte */
}
