{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}

{% block body %}
	<h1>Merci pour votre message !</h1>
	<p>Nous avons bien reçu votre message et vous répondrons dans les plus brefs délais.</p>
	<a href="{{ path('homepage') }}">Retour à la page d'accueil</a>
{% endblock %}
