{% block body %}
<link rel="stylesheet" href="{{ asset('css/stylesCours.css') }}">
    <h1>Liste des cours</h1>
    <ul>
        {% for cours in cours %}
            <li>
                <h2>{{ cours.title }}</h2>
                <p>{{ cours.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
